.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &.ant-btn-primary {
    &:not(.ant-btn-dangerous) {
      color: var(--color-bg-layout);

      &:hover {
        color: var(--color-bg-layout);
      }
    }
  }

  &.ant-btn-default {
    &:hover {
      border-color: var(--color-text) !important;
      color: var(--color-bg-text) !important;
      filter: brightness(0.9);
    }
  }

  &.custom-button {
    &.large {
      height: 48px;
      font-size: 15px;
      padding: 8px 16px;
    }

    &.small {
      height: 32px;
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
