
.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &.ant-btn-primary {
    &:not(.ant-btn-dangerous) {
      color: var(--color-bg-layout);
    }


    &:hover {
      background-color: var(--color-text) !important;
      color: var(--color-bg-layout) !important;
    }
  }


  &.ant-btn-default {
    &:hover {
      border-color: var(--color-text) !important;
      color: var(--color-bg-text) !important;
      filter: brightness(0.9);

    }
  }
}
