.input-container {
  .input {
    transition: all 0.2s;
    background-color: var(--color-bg-elevated);
    box-shadow: var(--bg-elevated-light);
  }

  .label {
    transition: all 0.2s;
  }

  &.has-error {
    .input {
      border-color: var(--color-error);
      box-shadow: none !important;
    }

    .label {
      color: var(--color-error);
    }

    &:focus-within {
      .input {
        border-width: 2px;
        border-color: var(--color-error) !important;
      }

      .label {
        color: var(--color-error) !important;
      }
    }

    &:hover {
      .input {
        border-color: var(--color-error) !important;
      }

      .label {
        color: var(--color-error) !important;
      }
    }
  }

  &:not(.has-error) {
    &:focus-within {
      .input {
        border-width: 2px;
        border-color: var(--color-primary) !important;
      }

      .label {
        color: var(--color-primary) !important;
      }
    }

    &:hover {
      .input {
        border-color: var(--color-primary);
      }

      .label {
        color: var(--color-primary) !important;
      }
    }
  }

}

.custom-size {
  height: 52px;
}
