#page-content {
  width: 100%;
  transition: all 0.2s;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

#collapse-button {
  position: absolute;
  z-index: 100;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed var(--color-border);
  transition: all 0.2s;
  box-shadow: none;
  backdrop-filter: blur(6px);

  svg {
    font-size: 12px;
    color: var(--color-text-base);
  }
}
