.label {
  font-weight: 600;
  color: var(--color-text-secondary);
  transition: all 0.2s;
}

.label-small {
  font-size: 0.75rem;
}

.label-medium {
  font-size: 0.875rem;
}

.label-large {
  font-size: 1rem;
}
