#sider {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  background-color: var(--color-bg-elevated);
  border-right: 1px dashed var(--color-border);
  z-index: 1;

  .ant-menu-item,
  .ant-menu-submenu-title {
    display: flex !important;
    align-items: center !important;
  }

  &::-webkit-scrollbar {
    width: 12px;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-border-secondary);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    visibility: hidden;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }

  #menu {
    background-color: transparent;
    border: 0;

    .ant-menu-item-group-list {
      width: 100%;
    }

    .ant-menu-sub {
      background-image: none !important;
      backdrop-filter: none !important;
      background-color: transparent;
    }

    li {
      &.ant-menu-item {
        width: calc(100% - 8px) !important;
      }

      > span {
        margin-left: 12px;
        font-weight: 500;
      }

      > div {
        > span {
          margin-left: 12px;
        }
      }
    }
  }

  .ant-menu-inline-collapsed,
  .ant-menu-submenu-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .ant-menu-item-group {
      .ant-menu-item-group-title {
        display: none !important;
      }
    }

    li {
      width: 100%;
      height: auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.ant-menu-item {
        padding-top: 10px;
      }

      > div {
        padding-top: 12px;
        height: auto !important;

        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }

      span {
        margin-inline-start: 0px !important;
        opacity: 1 !important;
        line-height: 30px;
        font-size: 10px;
        font-weight: 600;
      }

      i {
        opacity: 1 !important;
        transform: rotate(-90deg) !important;
        top: 18px !important;
        right: 6px !important;
      }
    }
  }
}

#logo-container {
  > img {
    transition: all 0.2s;
    height: 50px;
    margin: 24px 0 16px 26px;
  }
}

#logo-container-collapse {
  > img {
    transition: all 0.2s;
    height: 40px;
    margin: 24px 0 8px 26px;
  }
}
