.horizontal-layout-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  .horizontal-layout-top-content {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    padding: 4px;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid var(--header-avatar-border-color);

    .horizontal-layout-avatar {
      flex-shrink: 0;
      border-radius: 4px;
      background-color: currentColor;
      width: 8px;
      height: 8px;
    }

    .horizontal-layout-line {
      flex-shrink: 0;
      border-radius: 4px;
      background-color: currentColor;
      width: 16px;
      height: 3px;

      &:first-child {
        opacity: 0.48;
      }

      &:last-child {
        max-width: 12px;
        opacity: 0.24;
      }
    }
   }

  .horizontal-layout-bottom-content {
    padding: 4px;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    .horizontal-layout-content {
      width: 100%;
      height: 100%;
      opacity: 0.08;
      border-radius: 4px;
      background-color: currentColor;
    }
  }
}

