.ant-layout-header {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 0px;
  z-index: 100;

  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.2s;

  .header-content {
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ant-dropdown-open:last-child {
      border: 2px solid var(--color-primary);
    }
  }
}
