.ant-table {
  table {
    * {
      transition: all 0.2s !important;
    }

    min-width: 100% !important;
  }

  background-color: var(--color-bg-elevated) !important;
  box-shadow: var(--bg-elevated);
  border-radius: 16px !important;
}

.ant-table-container {
  border: none !important;
  border-radius: 16px !important;
}

.ant-table-thead {
  th {
    background-color: var(--th-bg-color) !important;
  }

  .ant-table-cell {
    color: var(--color-text-secondary) !important;

    &:first-child {
      border-start-start-radius: 16px !important;
    }

    &:last-child {
      border-start-end-radius: 16px !important;
    }
  }
}

.ant-table-tbody {
  tr:nth-child(odd) {
    background-color: var(--row-even-bg-color) !important;
  }

  tr:nth-child(even) {
    background-color: var(--color-bg-elevated) !important;
  }
}

.ant-table-footer {
  background-color: var(--color-bg-elevated) !important;
  border: none !important;
  border-radius: 0px 0px 16px 16px !important;
}

.ant-pagination {
  display: flex;
  align-items: center;
}

.ant-table.ant-table-small .ant-table-cell {
  padding: 8px 12px !important;
}

.ant-table.ant-table-middle .ant-table-cell {
  padding: 12px !important;
}

.ant-table-expanded-row-fixed {
  width: calc(100% + 22px) !important;
}

.ant-table-row {
  > .ant-table-column-sort {
    &:not(.ant-table-cell-row-hover) {
      background-color: transparent !important;
    }
  }
}
