#account-card {
  > .ant-card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    > button {
      width: fit-content;
      margin-top: 24px;
      margin-left: auto;
    }
  }
}
