.locales-button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 26px;
    height: 30px;
  }
}

.locales-button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 26px;
    height: 30px;
  }
}

.locale-img-item {
  width: 26px;
  height: 30px;
}

