@keyframes rotate360 {
  to { transform: rotate(360deg) }
}

.settings-dropdown-button {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    font-size: 1.7rem;
    animation: 10s rotate360 infinite linear;
    color: var(--color-text-description);
  }
}

.ant-drawer-mask {
  background-color: transparent !important;
}

.ant-drawer-content-wrapper {
  box-shadow: var(--header-dropdown-shadow-box);
}

.ant-drawer-title {
  font-size: 1.125rem !important;
}

.ant-drawer-footer {
  border-top: none !important;
  padding: 20px !important;
}
